<div class="tags transition-ease" ng-class="[{'col-lg-5 col-md-4 col-sm-4':app.panelActive}, {'col-lg-0': !app.panelActive}]">
    <ul class="list-group">
        <li class="list-group-item tdb-tag shadow-light no-radius" ng-class="{active:taskCtrl.isActiveTag(tag)}" ng-repeat="tag in taskCtrl.tags"
            ng-click="taskCtrl.setActiveTag(tag)">
            <div class="tdb-tag-background" style="background-color: {{tag.color}}"></div>
            <h5 class="list-group-item-header ellipsis">{{tag.content}}</h5>
        </li>
    </ul>
</div>