.transition-ease {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.shake {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
    color: red;
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
    color: red;
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
    color: red;
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
    color: red;
  }
}