@font-face {
    font-family: 'OpenSans'; /*a name to be used later*/
    src: url('../fonts/OpenSansRegular.ttf'); /*URL to font*/
}

* {
  font-family: "OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.top-bar {
  display: block;
  position: fixed;
  border-bottom: 1px solid #428BCA;
  padding: 5px 10px;
  top: 0;
  left: 0;
  right: 0;
  color: #428BCA;
  height: 50px;
}

.content {
  margin-top: 60px;
}

.tdb-box {
    padding: 20px;
    margin: 0 0 10px 0;
    border: 0;
    border-left: 5px solid #EEEEEE;
    border-radius: 0;
}

.tdb-tag {
    padding: 5px;
    margin: 0 0 1px 0;
    border: 0;
    border-radius: 0;
    background-color: #E3F2FF;
    color: #303030;
    cursor: pointer;
}

.tdb-box .tdb-tag {
  display: inline-block;
  float: right;
  margin-left: 2px;
}

.list-group-item.tdb-box, .list-group-item.tdb-tag {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.list-group-item.tdb-box:after{
  content: "";
  display: block;
  position: absolute;
  background-color: #EEEEEE;
  height: 1px;
  width: 100%;
  margin-top: 25px;
  margin-left: -20px;
 }
 .list-group-item.tdb-box:last-child:after{
  height: 0;
 }
.tdb-box h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.tdb-box p:last-child {
    margin-bottom: 0;
}
.tdb-box-gray {
    border-left-color: #777;
}
.tdb-box-gray h4 {
    color: #777;
}
.tdb-box-blue {
    border-left-color: #428bca;
}
.tdb-box-blue h4 {
    color: #428bca;
}
.tdb-box-green {
    border-left-color: #5cb85c;
}
.tdb-box-green h4 {
    color: #5cb85c;
}
.tdb-box-red {
    border-left-color: #d9534f;
}
.tdb-box-red h4 {
    color: #d9534f;
}
.tdb-box-yellow {
    border-left-color: #f0ad4e;
}
.tdb-box-yellow h4 {
    color: #f0ad4e;
}
.tdb-box-cyan {
    border-left-color: #5bc0de;
}
.tdb-box-cyan h4 {
    color: #5bc0de;
}