/* Common colors */
$white: #FFFFFF;
$darkgrey: #444444;
$primary-color: #428BCA;
$primary-hover: #3572A6;
$cancel-color: #B35F47;
$cancel-hover: #A34A31;
$edit-color:#EBD373;
$edit-hover: #E0CB75;
$ok-color: #5CAD5F;
$ok-hover: #458A47;

/* Controls background styles */
.control-bg-primary {
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
}
.control-bg-primary:hover {
  background-color: $primary-hover;
  border-color: $primary-hover;
}
.control-bg-edit {
  background-color: $edit-color;
  border-color: $edit-color;
  color: $darkgrey;
}
.control-bg-edit:hover {
  background-color: $edit-hover;
  border-color: $edit-hover;
}
.control-bg-cancel {
  background-color: $cancel-color;
  border-color: $cancel-color;
  color: $white;
}
.control-bg-cancel:hover {
  background-color: $cancel-hover;
  border-color: $cancel-hover;
}
.control-bg-ok {
  background-color: $ok-color;
  border-color: $ok-color;
  color: $white;
}
.control-bg-ok:hover {
  background-color: $ok-hover;
  border-color: $ok-hover;
}
